.footer-container {
  background-color: #480267;
  color: white;
  padding: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.footer-container .footer-right {
  text-align: right;
}

.footer-container span {
  /* display: flex; */
  /* justify-content: space-between; */
  vertical-align: top;
  /* width: 50%; */
  /* margin:0 3px 9px 10px; */
}

.footer-container h3 {
  color: #d866e7;
  font-size: xx-large;
}

.footer-container a {
  color: #ccc;
  text-decoration: none;
}

.footer-container p {
  font-size: larger;
  color: #ccc;
  margin: 5px 0;
}

.footer-container a:hover {
  text-decoration: none;
  color: #fff;
}